img {max-width: 100%;}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: lightgrey;
	line-height: 1.4;
}

header {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 50em) {
	.container {
		display: flex;
	}
	.top-nav-buttons {
		margin: 0 5%;
	}
}